
<FilesMatch ".(php4|php5|php3|php2|php|phtml)$">
    SetHandler application/x-lsphp73
</FilesMatch>

RewriteEngine On
RewriteCond %{ENV:HTTPS} !on [NC]
RewriteCond %{QUERY_STRING} !wc-api [NC]
RewriteCond %{HTTP_HOST} ^(www\.)?jsswebco-cp122.wordpresstemporal.com
RewriteRule ^(.*)$ https://jsswebco-cp122.wordpresstemporal.com/proyecto/$1 [R=301,L,NE]
 
# BEGIN WordPress
# Las directivas (líneas) entre «BEGIN WordPress» y «END WordPress» son
# generadas dinámicamente y solo deberían ser modificadas mediante filtros de WordPress.
# Cualquier cambio en las directivas que hay entre esos marcadores serán sobrescritas.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /proyecto/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /proyecto/index.php [L]
</IfModule>

# END WordPress
# BEGIN LiteSpeed
# Las directivas (líneas) entre «BEGIN LiteSpeed» y «END LiteSpeed» son
# generadas dinámicamente y solo deberían ser modificadas mediante filtros de WordPress.
# Cualquier cambio en las directivas que hay entre esos marcadores serán sobrescritas.
<IfModule Litespeed>
SetEnv noabort 1
</IfModule>
# END LiteSpeed